@import "tailwindcss";

/*
=============== 
Modal
===============
*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
}
/* OPEN/CLOSE MODAL */
.show-modal {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 2s;
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background: white;
  border-radius: 0.25rem;
  width: 90vw;
  /* height: 30vh; */
  max-width: 600px;
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}
.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color:  #842029;
  cursor: pointer;
}